@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0d1b2a;

  --color1: #00aaff;
  --color2: #2b4b6a;
  --color3: #a9bcd0;
  --color4: #ffffff;
  --color5: #1b263b;
  --color6: #273145;
  --color7: #d0d9e3;

  --bordercreate: #3a506b;
}

body {
  color: var(--color3);
  background: var(--background);
  font-family: VT323, Arial, Helvetica, sans-serif;
}
