@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0D1B2A;
  --color1: #00AAFF;
  --color2: #2B4B6A;
  --color3: #A9BCD0;
  --color4: #FFFFFF;
}

body {
  color: var(--color3);
  background: var(--background);
  font-family: VT323, Arial, Helvetica, sans-serif;
}
